<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ title }} Marca</h4>
</div>
<div class="modal-body" id="modal-body">
    <div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nombre:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="$parent.model.name" 
                                   autocomplete="off" maxlength="50" placeholder="Ingrese el nombre de la marca">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Tipo de Marca:</label>
                        <div class="col-sm-6">
                            <!-- Only for new -->
                            <select class="form-control" ng-model="$parent.model.brand_type_id" ng-hide="$parent.model.id">
                                <option value="">-- Seleccione el Tipo --</option>
                                <option ng-repeat="(key, opt) in types" value="{{opt.id}}">{{ opt.name }}</option>
                            </select>
                            <!-- Only for existent -->
                            <input type="text" class="form-control" ng-model="$parent.model.type.name" 
                                   disabled="disabled" ng-show="$parent.model.id">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" title="Paquetes por caja">Paquetes por Caja:</label>
                        <div class="col-sm-4">
                            <!-- Only for new -->
                            <input type="number" class="form-control" ng-model="$parent.model.packs_per_box" 
                                   autocomplete="off" placeholder="" min="0" ng-hide="$parent.model.id">
                            <!-- Only for existent -->
                            <input type="number" class="form-control" ng-model="$parent.model.packs_per_box" 
                                   disabled="disabled" ng-show="$parent.model.id">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Costo por Paquete:</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="$parent.model.cost" 
                                   autocomplete="off" placeholder="" min="0">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Precio por Paquete:</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="$parent.model.price" 
                                   autocomplete="off" placeholder="" min="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$parent.save()" ng-hide="model._saving">Guardar</button>
    <button class="btn btn-primary" type="button" ng-show="model._saving" disabled="disabled">
        <img src="images/loading.gif"> Espere
    </button>
    <button class="btn btn-default" type="button" ng-click="$dismiss()">Cerrar</button>
</div>